<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title th:text="${pizza.nome}"></title>
</head>

<body>
	<nav th:replace="fragments/navbar"></nav>
	</nav>

	<div class="conteiner" th:object="${pizza}">
		<h1 th:text="*{nome}"></h1>

		<div class="row">
			<div class="col-8">
				<dl>
					<dt>Descrizione</dt>
					<dd th:text="*{descrizione}"></dd>
				</dl>


			</div>


			<div class="col-4">
				<h3>Ingredienti</h3>

				<ul>
					<li th:each="ing : *{ingredienti}" th:text="${ing.nome}"></li>
				</ul>




			</div>
		</div>

	</div>








	<div th:replace="fragments/resources :: scripts"></div>

</body>

</html>